table(style='width:100%')
  tbody
    tr
      th Firstname
      th Lastname
      th Age
    tr
      td Jill
      td Smith
      td 50
    tr
      td Eve
      td Jackson
      td 94